body {
  background-image: url(../assets/background_image/harry_elementos.png);
  background-repeat: repeat;
  font-family: MedievalSharp, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to right, #a70606, #e00909, #a70606);
  padding: 1em 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  font-family: MedievalSharp, "Times New Roman", Times, serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 2em;
  transition: transform 0.3s ease-in-out;
}

nav ul li:hover {
  transform: scale(1.1);
}

nav ul li a {
  text-shadow: 2px 2px 5px rgb(31, 27, 4);
  color: gold;
  text-decoration: none;
}

main {
  padding: 1px;
  text-align: center;
  margin-bottom: 170px;
}

section {
  display: grid; /* Habilita CSS Grid */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta las columnas */
  gap: 20px; /* Espacio entre tarjetas */
  width: 70%; /* Ancho del contenedor */
  margin: auto; /* Centra el contenedor horizontalmente */
}

section div {
  background-color: rgba(255, 217, 0, 0.808);
  border: solid  4px #a70606;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  max-height: 300px;
}

section div:hover {
  transform: scale(1.05);
}

h1 {
  font-family: MedievalSharp, "Times New Roman", Times, serif;
  font-size: 5em;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(31, 27, 4);
}

h2 {
  font-family: MedievalSharp, "Times New Roman", Times, serif;
  font-size: 1.7em;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(31, 27, 4);
}

p {
  font-family: Libre Baskerville, "Times New Roman", Times, serif;
  font-size: 1em;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(31, 27, 4);
}

footer {
  background-image: linear-gradient(to right, #a70606, #e00909, #a70606);
  color: gold;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}



