body {
  background-image: url(../assets/background_image/harry_elementos.png);
  background-repeat: repeat;
  font-family: MedievalSharp, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to right, #a70606, #e00909, #a70606);
  padding: 10px;
  position: fixed; /* Fijar la navegación del encabezado en la parte superior */
  top: 0; /* Posicionarlo desde la parte superior de la ventana */
  width: 100%; /* Que abarque todo el ancho */
  z-index: 10; /* Establecer un z-index más alto para que se mantenga en la parte superior */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  font-family: MedievalSharp, "Times New Roman", Times, serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 2em;
  transition: transform 0.3s ease-in-out;
}

nav ul li:hover {
  transform: scale(1.1);
}

nav ul li a {
  text-shadow: 2px 2px 5px rgb(31, 27, 4);
  color: gold;
  text-decoration: none;
}

main {
  padding: 1px;
  text-align: center;
  margin-bottom: 170px;
  margin-top: 50px;
}

section {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin: auto;
}

section div {
  background-color: rgba(255, 217, 0, 0.808);
  border: solid 4px #a70606;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  max-height: 440px;
}

section div:hover {
  transform: scale(1.05);
}

section div img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border: solid 4px #a70606;
  border-radius: 25px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  left: -4px;
}

h1 {
  font-family: MedievalSharp, "Times New Roman", Times, serif;
  font-size: 5em;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(31, 27, 4);
}

h2 {
  font-family: MedievalSharp, "Times New Roman", Times, serif;
  font-size: 1.7em;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(31, 27, 4);
}

p {
  font-family: Libre Baskerville, "Times New Roman", Times, serif;
  font-size: 1em;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(31, 27, 4);
}

footer {
  background-image: linear-gradient(to right, #a70606, #e00909, #a70606);
  color: gold;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 1024px) {
  /* Ajustar para pantallas más grandes (tabletas) */
  section {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Columnas para pantallas más grandes */
  }
  h1 {
    font-size: 4em;
  }
  nav ul li {
    font-size: 1.5em;
  }

  footer {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  /* Ajustar para pantallas más pequeñas (teléfonos) */
  section {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Una sola columna para pantallas pequeñas */
  }
  h1 {
    font-size: 3em;
  }
  nav ul li {
    font-size: 1em;
  }

  footer {
    font-size: 0.8em;
  }
}
